!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset
.vs/*
.idea/*
Binaries/*
DerivedDataCache/*
Intermediate/*
Plugins/*/Intermediate/*
Saved/*
Plugins/Developer/RiderLink/*
Plugins/*/Binaries/*
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig